$space-black: #141414;

.navbar {
  background-color: $space-black;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.navbarBrand {
  white-space: nowrap;
  line-height: inherit;
  margin-right: 2rem;
  font-weight: bold;
}

a {
  background-color: transparent;
  text-decoration: none;
}

.m5 {
  margin: 50px;
}


.category  {
  font-weight: bold;
  text-align: center !important;
}

.container {
  margin: 40px auto;
  width: 100%;
  max-width: 1200px;
}
.text-center {
  text-align: center;
}

.card {
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  background-color:white;
}

.Card-title {
  font-weight: bold;
  font-size: 25px;

}
.temp {
  font-weight: 400;
  font-size: 45px;
}

.temp-name {
  font-size: 25px;
}

.temp-icon {
  width: 150px;
  height: 150px;
  border: dashed red;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.weekly-Temp {
  width: 25px;
  height: 25px;
  margin: 10px;
  border: dashed green;
}